[build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"

[deploy]
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
numReplicas = 1

[[mounts]]
mountPath = "/var/www/html/files"

[[mounts]]
mountPath = "/var/www/html/store"

[[mounts]]
mountPath = "/var/www/html/images/avatars/upload"
